{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "jsx-a11y/href-no-hash": 0, /*do not understand wtf is that, */
    "react/jsx-indent":0, /*prefer tab indent*/
    "treatUndefinedAsUnspecified":0, /*dont care about that*/
    "linebreak-style": 0, /*working on windows*/
    "indent": 0, /*prefer tab indent*/
    "no-console": 0 /*i use console for deguging*/
  }
}