doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(rel='stylesheet', href='/build/css/styles.css')
    body
        #root
        script(src='/build/bundle.js')
