doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Title
        link(rel='stylesheet', href='/css/styles.css')
    body
        #root
        script(src='/js/bundle.js')
