.input-group {
  position: relative;
}

.input-group-addon {
  position: absolute;
  right: 11px;
  top:11px;
  z-index: 1;
  color: red;
}

input {
  color: #000;
  width: 100%;
  border: 1px solid;
  padding: 10px;
}