.header {
  background: #000;
  color: #fff;
}

.header-cover-1 {
  background-image: url(/Movies.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.gradient-1 {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.7));
}
.gradient-2 {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9));
}