@import "components/utils/utils";

@import "components/utils/buttons/buttons";
@import "components/utils/inputs/input";

@import "components/sections/sections";
@import "components/header/header";
@import "components/footer/footer";

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

input {
  border: 1px solid;
  padding: 10px;
}

.sorting {
  background: #ccc;

}




img {
  max-width: 100%;
}
