@import "components/utils/utils";

@import "components/utils/buttons/buttons";
@import "components/utils/inputs/input";

@import "components/sections/sections";
@import "components/header/header";
@import "components/movie/movie";
@import "components/footer/footer";

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

img {
  max-width: 100%;
}

.true:after {
  content:'↑';
}
.false:after {
  content:'↓';
}