.section {

  .section-title {
    @extend .container;
  }

  .section-content {
    @extend .container;
    //margin-bottom: 22px;
    padding-bottom: 22px;
    padding-top: 22px;
  }

}

.sorting {
  background: #f4f4f4;
}