.header-movie {
  [class^="field"] {
    margin-bottom:22px;
  }

  a {
    color:red;
  }

  .actor {
    margin-right:11px;

    &:last-child {
      margin-right: 0;
    }

  }

  line-height:1.5;
}

.movie {
  .movie-picture {
    background: #000;
  }

  a {
    color:red;
  }

  img {
    width: 100%;
  }

  .movie-description {
    color: #ffffff;
    padding: 10px;
    background: #000;
  }
}