.header-movie {
  [class^="field"] {
    margin-bottom:22px;
  }

  a {
    color:red;
  }

  .field-label {
    display: block;
    font-weight: bold;
  }

  .actor {
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    padding: 3px 12px;
    display: inline-block;
    margin-bottom: 9px;

    &:last-child {
      margin-right: 0;
    }
  }



  line-height:1.5;
}

.movie {
  background: #000;
  min-height:520px;

  .movie-description-rating {
    top: 10px;
    left: 25px;
    border-radius: 50%;
    text-align: center;
    width:50px;
    height:50px;
    line-height:50px;
    position: absolute;
    background: red;
    color: #fff;
  }

  .movie-picture {
    background: #000;
  }

  a {
    color:red;
  }

  img {
    width: 100%;
  }

  .movie-description {
    color: #ffffff;
    padding: 10px;
    background: #000;
  }
}